name: Deploy to Alwaysdata

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # <--- Il doit être ici pour que Git récupère bien les fichiers

      - name: Deploy via SSH (Rsync)
        uses: Burnett01/rsync-deployments@7.0.0
        with:
          switches: -avzr --delete
          path: .
          remote_path: /home/boyer-laurent/www/
          remote_host: ssh-boyer-laurent.alwaysdata.net
          remote_user: boyer-laurent
          remote_key: ${{ secrets.ALWAYSDATASSHMDP }}